<p id="notice"><%= notice %></p>

<h1>Menu Inicial</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <li>
    <a href="alunos" class="style2"> <button style="color:green"> Criar um novo aluno </button> </a>
  </li>
  <li>
    <a href="professors" class="style2"> <button style="color:green"> Criar um novo professor </button> </a>
  </li>

  <li>
    <a href="disciplinas" class="style2"> <button style="color:green"> Criar um nova disciplina </button> </a>
  </li>
  <li>
    <a href="sair" class="style2"> <button style="color: #B00100"> Logout... </button> </a>
  </li>

</table>

<br>

